<ng-container *ngIf="UserClick == false">
<div class="users" *ngFor ="let user of users$ | async" (click)="UserClicked(user.id)" >{{user.name}}</div>
</ng-container>



<ng-container *ngIf="UserClick == true">


  <div class="users" (click) ="getBack()">{{specificUser$ | async}}</div>

  <button (click)="newPost()">create a new Post?</button>


  <ng-container *ngIf="createPost == true">
  <div class="newPost">

    <textarea rows="5" cols="40"  [(ngModel)]="title"> <br> </textarea>
    <textarea rows="5" cols="50"  [(ngModel)]="body"> <br> </textarea> <br>
    <button (click)="dispatchPost()">Save </button>

  </div>
  </ng-container>


  <ng-container *ngIf="edit == true">

    <textarea rows="5" cols="40"  [(ngModel)]="title"> <br> </textarea>
    <textarea rows="5" cols="50"  [(ngModel)]="body"> <br> </textarea>
    <button (click)="SaveEdit()">Save</button>



  </ng-container>

  <div class="posts" *ngFor ="let post of posts$ | async" (click)="showEditInputFields(post.id, post.title, post.body)">Title: {{post.title}} <br> Body: {{post.body}}</div>

</ng-container>



